#logo-image{
    float:left;
    height: 37px;
    width: 150px;
}

#location-image{
    height: 14px;
    width: 14px;
    margin: 0px 8px 0px 0px;
}

#account-image{
    height: 14px;
    width: 14px;
    margin: 0px 8px 0px 0px;
}

#location-text{
    font-size: 13px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #313131;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}
#location-text:hover{
    text-decoration: underline;
    color: red;
}

#account-text{
    font-size: 13px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #95989a;
    text-decoration: none;
}
#account-text:hover{
    text-decoration: underline;
    color: red;
}

#register-text{
    font-size: 13px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #95989a;
    text-decoration: none;
}
#register-text:hover{
    text-decoration: underline;
    color: red;
}

#separator{
    display: inline;
    color: #95989a;
}

.logo-div{
    float:left;
}

.location-register-div{
    float: right;
}

.top-nav{
    padding: 10px;
    margin-bottom: 40px;
}

.bottom-nav{
    width: 100%;
    height: 55px;
    margin-left: 0;
    padding-left: 0;
    border-top: 1px solid #313131;

}
ul{
    display: inline;
}

li{
    display: inline;
    text-decoration: none;
    padding:0;
    margin:0;

}



.nav-button{
    float: left;
    margin:0;
    padding-left: 1.3%;
    padding-right: 1.3%;
    padding-bottom: 0;
    padding-top: 14px;
    width: auto;
    height: 55px;
    max-height: 40px;
    border-left: 1px solid #313131;
    border-right: 1px solid #313131;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#313131;
    font-weight: bold;


}

.nav-button:hover{
    color:red;
}
.nav-button:focus{
    background-color: rgba(161, 7, 7, 0.87);
    color:white;
}

.grid-container{
    max-width: 100%;
    margin: 0 auto;
    background-color: aquamarine;
}

.grid-item{
    float: left;
    margin: 10px;
    height: 400px;
    width: 250px;
}

.menu-card{
    width: 250px;
    height: 400px;
    background-color:white;
}

.item-image-container{
    text-align: center;
    height: 133.33px;
    background-image: url(images/woodplate.jpg);
}
.item-image{
    width: 70%;
}

.item-title-container{
    width: 90%;
    height: 66.66px;
}

.item-title{
    display: inline;
    float: left;
    margin-left:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item-price{
    display: inline;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.item-ingredients-container{
    width: 90%;
    height: 66.66px;
}

.item-ingredients{
    margin-top: 0;
    margin-left: 10px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(43, 42, 42);
}

.size-and-curst{
    height: 100px;
}

#selector-label{
    margin-left:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.selector-container{
    width: 100%;
}

.size-select{
    margin-left: 10px;
    width:45%;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.crust-select{
    width:45%;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.add-to-cart-container{
    width:100%;
    height: 66px;
    margin-top: 10px;
}

.add-to-cart{
    width:90%;
    margin-left:5%;
    height: 30px;
    background-color: green;
    color:white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.add-to-cart:hover{
    background-color: rgb(1, 87, 1);
}

.grid-item:hover{
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.418);
}

body{
    background-image: url(images/background.jpg);
    background-repeat: repeat;
    margin:0;
}
.header{
    background-color: white;
    border-bottom: 1px solid #313131;
    padding-bottom: 0;
}

.grid-item:hover .item-image{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.item-image{
    transition: all 0.5s ease-in-out;
}
